/***************************************
GENERAL
****************************************/

#wrapper {
  text-align: center;
}

.bio{
  max-width: 400px;
}

/***************************************
HEADING
****************************************/

header {
  font-family: 'Anonymous Pro', monospace;
}

h1 {
  text-align: center;
}

h2 {
  color: #afafaf;
  font-size: 80%;
  font-family: 'Montserrat', sans-serif; 
  text-transform: uppercase;
  letter-spacing: 5px;
}
