/***************************************
GENERAL
****************************************/

#wrapper {
  text-align: center;
}

.bio{
  max-width: 400px;
}

/***************************************
HEADING
****************************************/

header {
  font-family: 'Anonymous Pro', monospace;
}

h1 {
}

h2 {
  color: #afafaf;
  font-size: 80%;
  text-transform: none;
}

h3 {
  font-size: 120%;
  font-family: 'Roboto Slab', serif;
  text-transform: none;
}
